html, body {
    overflow: visible;
}

.panel-heading{
	color:black !important;
	font-weight:bold;
}

.adj-padding{
    margin-left: auto -490px;
}

.carousel-indicators li {
  border: 1px solid black;
}

.carousel-indicators .active {
  background-color: black;
}